.footer {
  background-color: var(--color-background-header);
}

.footer__social-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bi {
  margin: 0 10px;
  font-size: 25px;
  color: var(--color-menu);
}

.bi:hover {
  color: var(--color-white);
  transition: 0.35s;
}
