.main__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/mia-ihor-white.jpg");
  background-size: cover;
  /* background-position: 10%; */
  background-repeat: no-repeat;
  height: 70vh;
}

.title-bdsl{
  justify-content: flex-start;
}

.bdsl {
  color: var(--color-white);
  padding: 30px;
}

.grid-name {
  display: grid;
  grid-template-columns: [first] 20px [line2] 135px;
  margin: 30px;
  font-size: 40px;
  color: var(--color-smoke);
}

.first-leter {
  color: var(--color-white);
}

.modal-btn {
  display: inline-block;
  background-color: var(--color-modal-btn);
  color: var(--color-white);
  padding: 12px 30px;
  margin: 0 0 25px 0;

}

@media (min-width: 425px) {
  .main__title {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .main__title {
    height: 100vh;
    background-position: 10% 10%;
  }
}

@media (min-width: 991px) {
  .main__title {
    background-image: url("../img/mia-ihor.jpg");
    /* background-position: center;
    background-size: auto 900px; */
  }
  .title-bdsl,
  .grid-name {
    display: none;
  }

  .modal-btn {
    margin-top: 100px;
  }
}
