.wrapper__schedule {
  height: 100%;
  padding-top: 10px;
  background-color: var(--color-background-main-page);
}

.address__wrapper{
    display: flex;
    justify-content: space-evenly;
}

.title__select {
  display: flex;
  justify-content: center;
}

.address__select {
  display: flex;
  justify-content: space-between;
}

.address__item {
  height: 150px;
  margin: 10px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}

.address__item.first {
  background-image: url(../img/location.jpg);
  background-size: cover;
}

.address__name{
    width: 100px;
    color: var(--color-white);
}

.title__dance-name{
    display: flex;
    justify-content: center;
}

.dance-name__wrapper{
    display: flex;
    justify-content: space-around;
}

.dance-item{
    margin: 10px;
}

.dance__select{
    display: flex;
    flex-wrap: wrap;
}

.dance-select__item{
    margin: 2.5px;
    padding: 8px;
    background-color: bisque;
    border-radius: 5px;
}

.dance-select__item:hover{
    background-color: var(--color-modal-btn);
}

.dance-select__item.active{
    background-color: var(--color-modal-btn);
}

.title__week{
    display: flex;
    justify-content: center;
}

.week__item{
    padding: 10px;
}

.week__schedule{
    margin-top: 10px;
}

.days-of__week{
    padding: 10px;
    margin-top: 10px;
    background-color: bisque;
}

.day-schadule {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    place-items: center;
    margin-top: 10px;
}

.day__week_name {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    place-items: center;
    margin-top: 10px;
}


.wrapper-for-schedule{
    display: flex;
}

/* .level{
    margin-left: 10px;
}

.dance-name{
    margin-left: 10px;
} */
.location__place{
    margin-left: 10px;
}

.icon__place__color{
    margin: auto;
    margin-top: 3px;
    height: 12px;
    width: 12px;;
    border-radius: 50%;
}

.icon__place__color.grey{
    background-color: gray;
}

.icon__place__color.pink{
    background-color: pink;
}

.icon__place__color.purple{
    background-color: purple;
}


